<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>Welcome to
        <%= title %>
    </p>
    <p><a href='turn?username=123132&key=4080218913'> turn test</a></p>
    <p><a href='iceconfig?key=4080218913'> turn test</a></p>
    <p><a href='websocket'> turn test</a></p>
</body>

</html>